:root {
  font: 16px / 1 sans-serif;
}

@font-face {
  font-family: 'waltograph';
  src: url('./fonts/NewWaltDisneyFontRegular-BPen.ttf') format('truetype');
  font-weight: normal;
  font-size: normal;
}

html {
  height: 100vh;
}

body {
  margin: 0;
  min-height: 100vh;
  background-image: url('https://i.pinimg.com/236x/25/2a/80/252a809d4ba0b865ab62680789f30123--minnie.jpg');
  background-size: cover;
  padding: 0;
}

#root,
.home-page {
  min-height: 100vh;
}

a:link,
a:visited,
a:focus,
a:hover,
a:active {
  color: white;
  text-decoration: none;
}

//Home Page

.home-page {
  display: flex;
  flex-direction: column;
  flex: 2;
}

.home-header {
  background-color: #f20505;
  text-align: center;
  color: black;
  padding: 0.25rem;
  width: 100%;
  font-family: 'waltograph';
  font-size: 30px;
}

main {
  margin: 0 auto;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & .container {
    position: relative;
    height: 300px;
    width: 300px;

    & button {
      background-color: black;
      font-size: 20px;
      color: white;

      &.browse {
        border-radius: 50%;
        width: 100px;
        height: 100px;
        position: absolute;
        top: 30px;
        left: 30px;
      }
      &.add {
        border-radius: 50%;
        width: 100px;
        height: 100px;
        position: absolute;
        top: 30px;
        left: 170px;
      }
      &.scavenger {
        border-radius: 50%;
        width: 150px;
        height: 150px;
        position: absolute;
        top: 100px;
        left: 75px;
      }
    }
  }
}

footer {
  color: black;
  background-color: #f9d70b;
  padding: 0.25rem;
  text-align: center;
  width: 100%;
}

//View All Hidden Mickeys Page

.list-header {
  background-color: #d84881;
  color: #fffeff;
  padding: 0.25rem;
  text-align: center;
  font-family: 'waltograph';
  font-size: 30px;
}

.hmDropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fb94b9;
  width: 175px;
  margin: 0 auto;
}

.dropdown {
  position: relative;
  display: inline-block;
  border: 1px solid black;
  background-color: #d84881;
  max-width: 125px;
  margin: 0.25rem;
}

.dropdown-parksb,
.dropdown-areasb {
  background-color: #16869b;
  color: white;
  padding: 8px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-parksb:hover,
.dropdown-parksb:focus {
  background-color: #fb94b9;
}

.dropdown-areasb:hover,
.dropdown-areasb:focus {
  background-color: #fb94b9;
}

.dropdown-parksc,
.dropdown-areasc {
  display: none;
  position: absolute;
  background-color: #fb94b9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown-parksc.show,
.dropdown-areasc.show {
  display: block;
}

.dropdown-parksc button,
.dropdown-areasc button {
  background-color: #fffeff;
  border-radius: 10px;
  margin: 2px;
  color: black;
  padding: 0 10px;
  text-decoration: none;
  display: block;
}

.dropdown-parksc button:hover,
.dropdown-areasc button:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-parksb,
.dropdown:hover .dropdown-areasb {
  background-color: #3e8e41;
}

ul.results {
  background-color: #75b9df;
  color: black;
  max-width: 275px;
  padding: 0;
  list-style: none;
  display: none;
  margin: 0 auto;

  a:link,
  a:visited,
  a:focus,
  a:hover,
  a:active {
    color: black;
    text-decoration: underline;
  }

  h4 {
    margin: 0.25rem;
  }
}

ul.results.show {
  display: block;
}

li.list {
  h4 {
    margin: 0;
    padding: 0.25rem;

    & + p {
      border-bottom: thin solid black;
      padding: 8px;
    }
  }
}

button.list-page-home {
  background-color: #dd4782;
  color: black;
  width: 80px;
  margin: 3px;
  border-radius: 20px;

  a:link,
  a:visited,
  a:focus,
  a:hover,
  a:active {
    color: black;
    text-decoration: none;
  }
}

// Specific Hidden Mickey Page

.specific-header {
  background-color: #f9a3c5;
  padding: 0.25rem;
  text-align: center;
  font-family: 'waltograph';
  font-size: 30px;
}

ul.specific-mickey {
  background-color: #a3a3dd;
  font-size: 16px;
  list-style-image: url('https://img.icons8.com/metro/24//animation.png');
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 275px;
  margin: 0 auto;
}

article.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.specific-buttons {
  background-color: #ffdb00;
  width: 80px;
  margin: 3px;
  border-radius: 20px;

  a:link,
  a:visited,
  a:focus,
  a:hover,
  a:active {
    color: black;
    text-decoration: none;
  }
}
// New Scavenger Hunt Page
.new-header {
  background-color: #7ef96d;
  padding: 0.25rem;
  text-align: center;
  font-family: 'waltograph';
  font-size: 30px;
}

p.new-disclaimer {
  background-color: #00fe31;
  padding: 0.5rem;
  max-width: 12rem;
  text-align: center;
  margin: 10px auto;
}

.dropdown-parksb-hunt {
  background-color: #ffb22f;
  color: black;
  padding: 8px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-parksb-hunt:hover,
.dropdown-parksb-hunt:focus {
  background-color: #d80322;
}

.dropdown:hover .dropdown-parksb-hunt {
  background-color: #d80322;
}

.dropdown-parksc-hunt {
  display: none;
  position: absolute;
  background-color: #d80322;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown-parksc-hunt.show {
  display: block;
}

.dropdown-parksc-hunt button {
  background-color: #fffeff;
  border-radius: 10px;
  margin: 2px;
  color: black;
  padding: 0 10px;
  text-decoration: none;
  display: block;
}

.dropdown-parksc-hunt button:hover {
  background-color: #f1f1f1;
}

button.new-page-home {
  background-color: #ffb22f;
  color: black;
  width: 80px;
  margin: 3px;
  border-radius: 20px;

  a:link,
  a:visited,
  a:focus,
  a:hover,
  a:active {
    color: black;
    text-decoration: none;
  }
}

// Scavenger Hunt Page

.hunt-header {
  background-color: #3155b4;
  padding: 0.25rem;
  text-align: center;
  font-family: 'waltograph';
  font-size: 30px;
}

p.disclaimer {
  background-color: #ff6c1b;
  padding: 0.5rem;
  max-width: 12rem;
  text-align: center;
  margin: 10px auto;
}

ul.scavenger-hunt {
  background-color: #acc163;
  list-style: none;
  padding: 0.5rem;
  margin: 10px auto;
  li {
    h4 {
      margin-left: 5px;
      margin-bottom: 0;
      margin-top: 0;
    }
    p {
      margin: 5px;
    }
    p.hint {
      border-bottom: thin solid black;
    }
  }
}

span {
  font-weight: bold;
}

input {
  background-color: black;
}

button.hunt-page-home {
  background-color: #fff858;
  color: black;
  width: 80px;
  margin: 3px;
  border-radius: 20px;

  a:link,
  a:visited,
  a:focus,
  a:hover,
  a:active {
    color: black;
    text-decoration: none;
  }
}

// Updating the Hidden Mickey

.update-header {
  background-color: #e70909;
  padding: 0.25rem;
  text-align: center;
  font-family: 'waltograph';
  font-size: 30px;
}

.update-message {
  background-color: #a3a3a3;
  padding: 0.5rem;
  max-width: 12rem;
  text-align: center;
  margin: 5px auto;
}

.update-mickey {
  background-color: #ecb818;
  font-size: 16px;
  color: black;
  list-style-image: url('https://img.icons8.com/metro/24/000000/animation.png');
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 275px;
  margin: 10px auto;
}

.update-buttons {
  background-color: #a3a3a3;
  color: #060000;
  width: 80px;
  margin: 3px;
  border-radius: 20px;

  a:link,
  a:visited,
  a:focus,
  a:hover,
  a:active {
    color: #060000;
    text-decoration: none;
  }
}

// Add the Hidden Mickey

.add-header {
  background-color: #f41111;
  padding: 0.25rem;
  text-align: center;
  color: #060000;
}

p.error {
  background-color: #f4d726;
  padding: 0.5rem;
  margin: 10px auto;
}

.addDropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4d726;
  color: black;
  width: 175px;
  margin-left: 30px;
}

.dropdown-parksb-add,
.dropdown-areasb-add {
  background-color: #f4d726;
  color: black;
  padding: 8px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-parksc-add,
.dropdown-areasc-add {
  display: none;
  position: absolute;
  background-color: #f41111;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown-parksc-add button:hover,
.dropdown-areasc-add button:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-parksb-add,
.dropdown:hover .dropdown-areasb-add {
  background-color: #3e8e41;
}

.dropdown-parksc-add.show,
.dropdown-areasc-add.show {
  display: block;
}

.add-form {
  background-color: #0f2af0;
  font-size: 16px;
  color: #fffcfc;
  list-style-image: url('https://img.icons8.com/metro/24/f4d726/animation.png');
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 275px;
  margin: 10px auto;
}

.add-text {
  background-color: #fffcfc;
  color: #060000;
}

button.add-page {
  background-color: #f4d726;
  color: #060000;
  width: 80px;
  margin: 3px;
  border-radius: 20px;

  a:link,
  a:visited,
  a:focus,
  a:hover,
  a:active {
    color: #060000;
    text-decoration: none;
  }
}
